* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Manrope;
  color: #858585;
}

html {
  font-size: 13px;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  background-color: #ecf2f8;
}

body h1 {
  font-size: 1.4rem;
  color: #464646;
}

body .card {
  margin: auto;
  margin-bottom: 4rem;
  background-color: #fff;
  width: 40%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-box-shadow: 0px 0px 20px 0px #9eafc2;
          box-shadow: 0px 0px 20px 0px #9eafc2;
  border-radius: 10px;
}

@media only screen and (max-width: 1000px) {
  body .card {
    width: 90%;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

body .card .grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .card .drawers img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 1000px) {
  body .card .drawers img {
    height: 250px;
  }
}

body .card .content {
  padding: 1rem;
}

body .card .content .text {
  margin-top: 1rem;
}

body .card .content .contact {
  width: 100%;
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .card .content .contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .card .content .contact .avatar-container {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  overflow: hidden;
}

body .card .content .contact .avatar-container img {
  height: 40px;
  width: 40px;
}

body .card .content .contact .contact-info {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .card .content .contact .contact-info .name {
  font-weight: 700;
  color: #464646;
}

body .card .content .share {
  position: relative;
}

body .card .content .share .show-tooltip {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

body .card .content .share .share-buttons-container {
  cursor: auto;
  z-index: 2;
  min-width: 250px;
  position: absolute;
  padding: 1rem;
  top: -70px;
  left: -8.2rem;
  background-color: #48556a;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 10px;
}

@media only screen and (max-width: 1000px) {
  body .card .content .share .share-buttons-container {
    width: 90vw;
    top: -1rem;
    right: -1rem;
    left: inherit;
    padding: 1.7rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .card .content .share .share-buttons-container * {
    margin-right: 2rem;
  }
}

body .card .content .share .share-buttons-container .label {
  color: #9eafc2;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

body .card .content .share .share-buttons-container img {
  cursor: pointer;
}

body .card .content .share .share-buttons-container::before {
  content: " ";
  background-color: #48556a;
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: -5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media only screen and (max-width: 1000px) {
  body .card .content .share .share-buttons-container::before {
    display: none;
  }
}

body .card .content .share .share-btn {
  background-color: #ecf2f8;
  height: 36px;
  width: 36px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 18px;
  position: relative;
  z-index: 100;
}

body .card .content .share .share-btn:hover {
  cursor: pointer;
}

body .card .content .share .share-btn.showTooltip {
  background-color: #48556a;
}

@media only screen and (max-width: 1000px) {
  body .card .content .share .share-btn.showTooltip {
    background-color: #9eafc2;
  }
}

body .card .content .share .share-btn.showTooltip svg {
  fill: #fff;
}

body .card .content .share svg {
  height: 14px;
  width: 14px;
  fill: #6e8098;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=style.css.map */